@model IEnumerable<CapaDTO.Descuento>

@{
    ViewBag.Title = "verDescuento";
}
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Lista de Descuento</h2>
            </div>
            <div class="panel-body">
                <p>
                    @Html.ActionLink("Nuevo Descuento", "CrearDescuento")
                </p>
                <table id="mytabla" class="display hover order-column text-center" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.idDescuento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cantidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rubro)
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idDescuento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rubro)
                                </td>
                                <td>
                                    <a href="@Url.Action("actualizarDescuento", "Ventas", new { id = item.idDescuento })">Editar</a>
                                    <a href="@Url.Action("eliminarDescuento", "verDescuento", new { id = item.idDescuento })">eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


<script>
   
    function eliminar(id)
    {
        $.ajax({
        url: "@Url.Action("eliminarDescuento", "Ventas")",
                type: "POST",
                data: {
                    id: id

                },

                success: function (data) {
                    //If you have a response, it will be in the 'data' object
                }
            });

            location.reload(true);
        }




</script>
