@model IEnumerable<CapaDTO.Descuento>

@{
    ViewBag.Title = "verDescuento";
}

<h2>verDescuento</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="mytabla" class="display hover order-column text-center" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idDescuento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    <a href="@Url.Action("eliminarDescuento", "verDescuento", new { id = item.idDescuento })">eliminar</a>
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
   
    function eliminar(id)
    {
        $.ajax({
        url: "@Url.Action("eliminarDescuento", "Ventas")",
                type: "POST",
                data: {
                    id: id

                },

                success: function (data) {
                    //If you have a response, it will be in the 'data' object
                }
            });

            location.reload(true);
        }




</script>
