@{ 
    string rol = "2";
}




@if (Request.IsAuthenticated)
{
    using (Html.BeginForm())
    {


        <ul class="nav navbar-nav">          
                
                
                 @if (Roles.IsUserInRole("administrador"))
                 {
                    <li>@Html.ActionLink("Crear Oferta", "Index", "Ventas")</li>
                    <li>@Html.ActionLink("Producto", "Producto", "Ventas")</li>
                    <li>@Html.ActionLink("Ver Oferta", "VerOferta", "Ventas")</li>
                    <li>@Html.ActionLink("Ofertas Publicadas", "Index", "Home")</li>
                    <li>@Html.ActionLink("Crear Descuento", "crearDescuento", "Ventas")</li>
                 }
                 else
                 {
                    if (Roles.IsUserInRole("crearOferta"))
                    {
                        <li>@Html.ActionLink("Crear Oferta", "Index", "Ventas")</li>
                        <li>@Html.ActionLink("Producto", "Producto", "Ventas")</li>
                        <li>@Html.ActionLink("Ver Oferta", "VerOferta", "Ventas")</li>
                        <li>@Html.ActionLink("Ofertas Publicadas", "Index", "Home")</li>
                        <li>@Html.ActionLink("Enviar correo", "Index", "Mail")</li>
                    }
                    else
                    {

                        if (Roles.IsUserInRole("encargadoTienda"))
                        {
                            <li>@Html.ActionLink("Resumen", "Index", "Tienda")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Cupon", "Cupon", "Home")</li>
                        }

                    }
                 }
                                                                          



        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hola "+Session["nombre"]+ "!", "Index", "Home")
            </li>
            <li>@Html.ActionLink("Cerrar session", "cerrarSession", "Login")</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrar", "RegistrarUsuario", "Login")</li>
        <li>@Html.ActionLink("Iniciar sesión", "Index", "Login")</li>
    </ul>
}
