@model IEnumerable<CapaDTO.Producto>

@{
    ViewBag.Title = "VerProducto";
}

<h2>VerProducto</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="mytabla" class="display nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTipoProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <a href="@Url.Action("actualizarProducto", "verProducto", new { id = item.IdProducto })">editar</a>
                    <a href="@Url.Action("eliminarProducto", "verProducto", new { id = item.IdProducto })">eliminar</a>
                </td>
            </tr>

        }
    </tbody>
</table>


<script>

    function eliminar(id)
    {
        $.ajax({
        url: "@Url.Action("eliminarProducto", "VerProducto")",
        type: "POST",
        data: {
            id: id

        },

        success: function(data) {
            //If you have a response, it will be in the 'data' object
        }
        });

        location.reload(true);
    }




</script>
