<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MisOfertas @ViewBag.Title</title>
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/assets/css/normalize.css">    
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/fontello.css">
    <link href="~/Content/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="~/Content/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="~/Content/assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="~/Content/assets/css/price-range.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">
    @Styles.Render("~/bundles/css")
</head>
<body>
    @RenderBody()
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->
    <div class="header-connect">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8  col-xs-12">
                    <div class="header-half header-call">
                        <p>
                            <span><i class="pe-7s-mail"></i> your@company.com</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                    <div class="header-half header-social">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End top header -->
    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">MisOfertas</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                <!-- Login -->
                <div class="button navbar-right">
                    <button class="navbar-btn nav-button login" onclick="" data-wow-delay="0.45s">@Html.ActionLink("Login", "Ingresar", "Login")</button>
                    <button class="navbar-btn nav-button" onclick=" window.open('LoginVendedor.html')" data-wow-delay="0.48s">Login Vendedor</button>
                </div>
                <!-- NAVBAR -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li class="wow fadeInDown " data-wow-delay="0.1s">
                        <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Home</a>
                    </li>
                    <!-- OPCIONES NAVBAR-->
                    <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href="properties.html">Nosotros</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.3s"><a class="" href="property.html">Productos</a></li>
                    <!-- DROP NAVBAR OPCIONES CATEGORIA DE PRODUCTOS-->
                    <li class="dropdown yamm-fw" data-wow-delay="0.4s">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Categorias<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>Vestuario</h5>
                                            <ul>
                                                <li>
                                                    <a href="#">Femenino</a>
                                                </li>
                                                <li>
                                                    <a href="#">Masculino</a>
                                                </li>
                                                <li>
                                                    <a href="#">Accesorios</a>
                                                </li>
                                                <li>
                                                    <a href="#">Zapatos</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Alimento</h5>
                                            <ul>
                                                <li><a href="#">Alcohol</a>  </li>
                                                <li><a href="#">Picadillo</a>  </li>
                                                <li><a href="#">Conservas</a>  </li>
                                                <li><a href="#">algo</a>  </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Tecnologia</h5>
                                            <ul>
                                                <li><a href="#">Notebooks</a> </li>
                                                <li><a href="#">Perifericos</a> </li>
                                                <li><a href="#">Procesadores</a> </li>
                                            </ul>
                                            <h5>Muebles</h5>
                                            <ul>
                                                <li><a href="#">Living</a> </li>
                                                <li><a href="#">Cocina</a> </li>
                                                <li><a href="#">Dormitorio</a> </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>Belleza</h5>
                                            <ul>
                                                <li><a href="#">Cremas</a> </li>
                                                <li><a href="#">Maquillaje</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>
                    <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="contact.html">Contacto</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->
    <div class="slider-area">
        <div class="slider">
            <div id="bg-slider" class="owl-carousel owl-theme">
                <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
                <div class="item"><img src="assets/img/slide1/slider-image-2.jpg" alt="The Last of us"></div>
                <div class="item"><img src="assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
            </div>
        </div>
        <div class="slider-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                    <h2>MisOfertas Asociacion Retail</h2>
                    <p>Busque las mejores ofertas y oportunidades de compra aqui, junto a las mejores marcas.</p>
                    <div class="search-form wow pulse" data-wow-delay="0.8s">
                        <!--Buscador PRO QUE NO SABEMOS USAR XD-->
                        <form action="" class=" form-inline">
                            <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Key word">
                            </div>
                            <div class="form-group">
                                <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">
                                    <option>Vestuario</option>
                                    <option>Muebles</option>
                                    <option>Alimentos</option>
                                    <option>Tecnologia</option>
                                    <option>Belleza</option>
                                </select>
                            </div>
                            <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
                            <div style="display: none;" class="search-toggle">
                                <div class="search-row">
                                    <div class="form-group mar-r-20">
                                        <label for="price-range">Rango de Precio ($):</label>
                                        <input type="text" class="span2" value="" data-slider-min="0"
                                               data-slider-max="600" data-slider-step="5"
                                               data-slider-value="[0,450]" id="price-range"><br />
                                        <b class="pull-left color">2000$</b>
                                        <b class="pull-right color">100000$</b>
                                    </div>
                                    <!-- End of  -->
                                    <div class="form-group mar-l-20">
                                        <label for="property-geo">Property geo (m2) :</label>
                                        <input type="text" class="span2" value="" data-slider-min="0"
                                               data-slider-max="600" data-slider-step="5"
                                               data-slider-value="[50,450]" id="property-geo"><br />
                                        <b class="pull-left color">40m</b>
                                        <b class="pull-right color">12000m</b>
                                    </div>
                                    <!-- End of  -->
                                </div>
                                <br>
                                <div class="search-row">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Fire Place(3100)
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End of  -->
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Dual Sinks(500)
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End of  -->
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Hurricane Shutters(99)
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End of  -->
                                </div>
                                <div class="search-row">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Swimming Pool(1190)
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End of  -->
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> 2 Stories(4600)
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End of  -->
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Emergency Exit(200)
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End of  -->
                                </div>
                                <div class="search-row">
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Laundry Room(10073)
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End of  -->
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Jog Path(1503)
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End of  -->
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> 26' Ceilings(1200)
                                            </label>
                                        </div>
                                    </div>
                                    <!-- End of  -->
                                    <br>
                                    <hr>
                                </div>
                                <button class="btn search-btn prop-btm-sheaerch" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- property area -->
    <div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                    <!-- /.feature title -->
                    <h2>Top Ofertas</h2>
                    <p>Lista de las mejores ofertas del día. </p>
                </div>
            </div>
            <div class="row">
                <div class="proerty-th">
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="Producto.html"><img src=""></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-1.html">Nombre Producto </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Ranking : 3.5</b> </span>
                                <span class="proerty-price pull-right">$ precio</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="#"><img src=""></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-1.html">Nombre Producto </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Ranking : 3.5</b> </span>
                                <span class="proerty-price pull-right">$ precio</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-3.html"><img src=""></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="#">Nombre Producto </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Ranking : 3.5</b> </span>
                                <span class="proerty-price pull-right">$ precio</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html"><img src=""></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="#">Nombre Producto </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Ranking : 3.5</b> </span>
                                <span class="proerty-price pull-right">$ precio</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-3.html"><img src=""></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="#">Nombre Producto </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Ranking : 3.5</b> </span>
                                <span class="proerty-price pull-right">$ precio</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-2.html"><img src=""></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-1.html">Nombre Producto </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Ranking : </b> </span>
                                <span class="proerty-price pull-right">$ precio</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="#"><img src="#"></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-1.html">Nombre Producto </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Ranking : 3.5</b> </span>
                                <span class="proerty-price pull-right">$ precio</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-tree more-proerty text-center">
                            <div class="item-tree-icon">
                                <i class="fa fa-th"></i>
                            </div>
                            <div class="more-entry overflow">
                                <h5><a href="property-1.html">CAN'T DECIDE ? </a></h5>
                                <h5 class="tree-sub-ttl">Mostrar todos los productos</h5>
                                <button class="btn border-btn more-black" value="All properties">Todos los Productos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Welcome area -->
    <div class="Welcome-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 Welcome-entry  col-sm-12">
                    <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                        <div class="welcome_text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                                    <!-- /.feature title -->
                                    <h2>Mis Ofertas </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="welcome_services wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
                            <div class="row">
                                <div class="col-xs-6 m-padding">
                                    <div class="welcome-estate">
                                        <div class="welcome-icon">
                                            <i class="pe-7s-home pe-4x"></i>
                                        </div>
                                        <h3>Productos</h3>
                                    </div>
                                </div>
                                <div class="col-xs-6 m-padding">
                                    <div class="welcome-estate">
                                        <div class="welcome-icon">
                                            <i class="pe-7s-users pe-4x"></i>
                                        </div>
                                        <h3>Nosotros</h3>
                                    </div>
                                </div>

                                <div class="col-xs-12 text-center">
                                    <i class="welcome-circle"></i>
                                </div>
                                <div class="col-xs-6 m-padding">
                                    <div class="welcome-estate">
                                        <div class="welcome-icon">
                                            <i class="pe-7s-notebook pe-4x"></i>
                                        </div>
                                        <h3>Facil de usar</h3>
                                    </div>
                                </div>
                                <div class="col-xs-6 m-padding">
                                    <div class="welcome-estate">
                                        <div class="welcome-icon">
                                            <i class="pe-7s-help2 pe-4x"></i>
                                        </div>
                                        <h3>ayuda </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer area-->
    <div class="footer-area">
        <div class="footer-copy text-center">
            <div class="container">
                <div class="row">
                    <div class="pull-left">
                        <span> (C) <a href="http://www.KimaroTec.com">KimaroTheme</a> , All rights reserved 2016  </span>
                    </div>
                    <div class="bottom-menu pull-right">
                        <ul>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/assets/js/modernizr-2.6.2.min.js"></script>
    <script src="~/Content/assets/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="~/Content/assets/js/easypiechart.min.js"></script>
    <script src="~/Content/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/wow.js"></script>
    <script src="~/Content/assets/js/icheck.min.js"></script>
    <script src="~/Content/assets/js/price-range.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    @Scripts.Render("~/bundles/js")
</body>
</html>